.main {
  display: grid;
  justify-content: center;
  max-width: 960px;
  margin: 10px auto;
  .localVdo {
    height: 25vh;
    width: 25vh;
  }
  .remoteVdoWrapper {
  }
  .remoteVdo {
    height: 65vh;
    width: 100%;
    border: 2px solid gray;
    object-fit: contain;
    margin: 0 auto;
  }
  .form {
    display: flex;
    justify-content: space-around;
    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  section {
    width: 45vw;
  }
}
